*.gem
*.rbc
Thumbs.db
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
.ruby-version
.fuse*
tmp
*.sublime-project
*.sublime-workspace