$colour-accent-1: #598930;
$colour-accent-2: #4B7428;
$colour-accent-3: #3F681C;
$colour-accent-4: #32471D;

$colour-bg-light: #ffffff;
$colour-bg-dark: #333333;
$colour-bg-pale1: #e0e0e0;

$colour-text-light: #ffffff;
$colour-text-pale1: #999999;
$colour-text-dark: #333333;