# project framework
/.bundle
/vendor
/bin
/log/*
/backups/*
/db_dumps
/tmp/*
/composer.phar
.sass-cache
/public/assets/*
/public/vendor/*
/vendor/ruby

# components tracked by composer
/public/silverstripe-cache/*
/public/bootstrap_forms
/public/cms
/public/abc-silverstripe
/public/abc-silverstripe-mailer
/public/framework
/public/html5

# files to keep
!.gitkeep
!/public/assets/error-404.html
!/public/assets/error-500.html
