# project framework
/.bundle
/vendor
/log/*
/backups/*
/db_dumps
/tmp/*
.sass-cache
/vendor/ruby
/config/cnf-local.yml

# project files
*.sublime-workspace
*.sublime-project

# files to keep
!.gitkeep
!.keep
